body {
    background-color: #76a5af;
}
main {
    padding: 1em;
    background-color: white;
    max-width: 60em;
    margin: auto;
}

ul {
    list-style: none;
}

h1 {
    text-align: center;
    padding: 20px;
}