body {
    background-color: #2F4550;
}
main {
    padding: 1em;
    background-color: white;
    max-width: 60em;
    margin: auto;
}

ul {
    list-style: none;
}

li {
    padding: 5px;
    text-align: center;
}

a:link, a:visited {
    background-color: #76a5af;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

h1 {
    text-align: center;
    padding: 20px;
}